.about_container {
    /* max-width: 1250px; */
    margin: auto;
    padding: 90px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 3rem;
}

section#about\ {
    overflow: hidden;
}

.two .about_container {
    max-width: 1200px !important;
    margin: auto;
    padding: 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 3rem;
}

.four .about_container {
    max-width: 1200px !important;
    margin: auto;
    padding: 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 3rem;
}

.four .about_img {
    order: 1;
}

.four .about_info {
    order: 2;
}

.images_icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.images_icons .img {
    width: 80px;
    cursor: pointer;
}

.images_icons .img img {
    width: 100%;
}

.details {
    position: relative;
    padding-bottom: 100px;
}

.details::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg/Klaus\ _Tradition_\ -\ Layout\ &\ Background\,\ Luis\ Mejía.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: hue-rotate(46deg);
    opacity: 0.1;
}

.details::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-size: 110%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: top center;
    background: linear-gradient(180deg, #050509, #05050900, #05050900);
}

.bgg__ {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-size: 110%;
    background-repeat: no-repeat;
    z-index: 3;
    background-position: top center;
    background: linear-gradient(1deg, #050509, #05050900, #05050900);
}

.three .about_container {
    max-width: 1200px !important;
    margin: auto;
    padding: 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 3rem;
}

.about_img {
    position: relative;
}

.about_img::before {
    content: "";
    position: absolute;
    top: -200px;
    left: -196px;
    width: 100%;
    height: 100%;
    background: url("../images/pngwing.co2.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: hue-rotate(120deg);
    z-index: -1;
    opacity: 0.3;
}

.about_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: -20px;
}

.before::before {
    /* content: ""; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/pngwing.com.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    opacity: 1;
    display: none;
}

.before::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -200px;
    width: 100%;
    height: 100%;
    background: url("../images/pngwing.co2.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: hue-rotate(120deg);
    background-size: contain;
    z-index: -2;
    opacity: 0.3;
}

.before img {
    transform: rotateY(180deg);
}

.about_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    row-gap: 25px;
}

.about_info h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Germania One";
    color: #d5e1eb;
    position: relative;
    z-index: 12000;
}

.about_info p {
    font-size: 18px;
    color: #d5e1eb;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.4;
    position: relative;
    z-index: 12000;
}

.about_info button {}

.shadow {
    position: absolute;
    top: -7rem;
    left: -15rem;
    z-index: 30;
    display: block;
    height: auto;
    width: 100%;
    left: -20rem;
    top: 14rem;
    width: 1345px;
    height: 992px;
}

.shadow::before {
    position: absolute;
    left: 0;
    z-index: 0;
    display: block;
    height: 0;
    width: 0;
    opacity: 0.5;
    content: "";
    box-shadow: 0 0 800px 400px #2e589b;
}

.shadow-right {
    position: absolute;
    top: -7rem;
    z-index: 30;
    display: block;
    height: auto;
    width: 100%;
    right: -20rem;
    top: 14rem;
    width: 1345px;
    height: 992px;
}

.shadow-right::before {
    position: absolute;
    right: 0;
    z-index: 0;
    display: block;
    height: 0;
    width: 0;
    opacity: 0.5;
    content: "";
    box-shadow: 0 0 800px 400px #2e589b;
}

@media (max-width: 768px) {
    .about_container {
        grid-template-columns: 1fr !important;
    }
    .loading-logo img {
        height: 100px !important;
    }
    section#iframe {
        margin-bottom: 100px;
    }
    .about_img {
        position: relative;
        order: 2 !important;
        width: 300px;
        align-items: center !important;
        justify-content: center !important;
        margin: auto;
        text-align: center;
    }
    .about_info {
        word-break: break-word;
    }
    .footer-bg {
        width: 297% !important;
    }
    #vidd {
        height: 80% !important;
    }
    .bg::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-size: 110%;
        background-repeat: no-repeat;
        z-index: 1;
        background-position: top center;
        background: linear-gradient(1deg, #050509, #05050900, #05050900);
    }
    .bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        /* background: url("../images/peakpx.jpg"); */
        background-size: 110%;
        background-repeat: no-repeat;
        z-index: 1;
        background-position: top center;
        background-image: linear-gradient(to top, rgb(5 5 9), rgba(0, 0, 0, 0) 58%), linear-gradient(rgb(0 0 0 / 0%), rgba(0, 0, 0, 0)), url("") !important;
    }
    .details::after {
        content: "";
        position: absolute;
        top: -155px;
        left: 0;
        width: 100%;
        height: 20%;
        background-size: 110%;
        background-repeat: no-repeat;
        z-index: 1;
        background-position: top center;
        background: linear-gradient(180deg, #050509, #05050900, #05050900);
    }
    .nav-list li a {
        border-right: 0px solid rgb(229 231 235 / 10%) !important;
    }
    .footer-wrapper-flex {
        flex-direction: column;
    }
    .copyrates {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5px;
    }
    .footer-wrapper-flex img {
        margin-right: 0 !important;
        height: 100px !important;
    }
    .footer-wrapper-flex p {
        color: #d5e1eb;
        font-family: "Balthazar";
        font-size: 20px;
        text-align: center !important;
        font-size: 18px !important;
        width: 90%;
    }
}

.two .about_img {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: end;
}

.three img {}

@media (max-width: 500px) {
    .about_img img {
        width: 300px !important;
    }
}