.button-light {
    background: linear-gradient(45deg, #ca3ce7, #42e8be) !important;
    border: 0px solid #9f72da !important;
    border-radius: 30px;
    padding: 20px 40px;
    text-decoration: none;
    position: relative;
}

.text-button-light {
    z-index: 10;
    color: #fff !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    position: relative;
}

.lightbox-link {
    width: 56px;
    min-height: 56px;
    background-color: rgb(156 39 176 / 17%);
    border: 1px solid rgb(202 62 234);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lightbox-link svg path {
    fill: #ca3eea !important;
}

.partners {
    height: 210px;
    background-image: url("https://assets.website-files.com/628264a917ada63feba04851/6287a41ce286633421e94a77_Logo%20Partner.svg");
    background-position: 50%;
    background-size: cover;
    background: linear-gradient(143deg, #c93de8, #43e8be);
    height: 20px !important;
    margin-top: 100px;
}

#tokenomics {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-size: 1.11111vw;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    display: block;
    position: relative;
    z-index: 0;
}

#tokenomics .container {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    visibility: inherit;
    box-sizing: border-box;
    line-height: normal !important;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    padding: 90px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

#tokenomics .container .heading {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    visibility: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    max-width: 100%;
    position: relative;
    z-index: 11;
}

#tokenomics .container .heading h1 {
    color: #c53ce4;
    /* text-transform: capitalize; */
    background: -webkit-linear-gradient(#ba4fe2, #50cbbc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tokenomics .container .content {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    visibility: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    justify-content: center !important;
    align-items: center;
    column-gap: 150px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    row-gap: 10px;
}

#tokenomics .container .content .box {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    visibility: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10px;
    max-height: 100%;
    height: 120px;
}

#tokenomics .container .content .box h3 {}

#tokenomics .container .content .box p {}

#tokenomics .container .address {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    visibility: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tokenomics .container .address .link-box {
    -webkit-text-size-adjust: 100%;
    color: #eff0f2;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    visibility: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    cursor: pointer;
}

.copyrates-block {
    max-width: 100%;
    border-top: 3px solid rgb(72 225 192) !important;
}

#tokenomics .container .address .link-box h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
    flex-direction: column;
    color: #c53ce4;
}

#tokenomics .container .address .link-box .wrap {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

#tokenomics .container .address .link-box span {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
}

#tokenomics .container .address .link-box img {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    max-width: 100%;
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: initial;
    filter: invert(1);
    cursor: pointer;
}

.w-webflow-badge {
    display: none !important;
}

.burger__line {
    z-index: 2;
    width: 100%;
    height: 1px;
    filter: blur(0.25px);
    background-color: #e94d1d !important;
    position: absolute;
    box-shadow: 0 0 4px #e94d1d, inset 0 0 8px #e94d1d !important;
}

.buy-crypto-form-submit {
    width: 100%;
    background: #c2ff26 !important;
    color: black !important;
    font-size: 1.3rem;
    font-weight: bold;
}

.iframe-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-button {
    width: 26%;
}

.hero__tab-button {
    flex-direction: row !important;
}

.hero__tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: row-reverse !important;
    padding: 8px 20px;
    width: 190px;
    height: 60px !important;
}

.hero__tab-button.w--current img {
    filter: invert(0);
}

.hero__tab-button img {
    width: 100%;
    max-width: 22px;
    object-fit: contain;
    height: 60% !important;
    /* padding: 20px 30px; */
    filter: invert(1);
    top: 10%;
    height: 50px;
    position: initial;
}

.content {
    align-items: center;
    justify-content: center;
    column-gap: 150px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    row-gap: 10px;
}

.nav__button a {
    background: transparent !important;
}

.content .box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    row-gap: 10px;
    max-height: 100%;
    height: 150px;
}

::selection {
    background: rgba(72, 80, 106, 0.6);
    color: #eff0f2;
    text-shadow: none;
}

img::selection,
svg::selection {
    background: transparent;
}

.no-click {
    pointer-events: none;
}

.video-border,
.card-border,
.decor-lines,
.characters__glow,
.universe__glow {
    pointer-events: none;
}

/* Desktop Only CSS */

@media only screen and (min-width: 992px) {
    .side-text {
        /*word-break: break-all;*/
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    .content {
        justify-content: start;
    }
    .characters__content {
        grid-template-columns: 1.5fr 1fr;
    }
}

/* Link color inherits from parent font color  */

a {
    color: inherit;
}

.characters-page__tabs-link.w--current .tab__cover {
    opacity: 1;
}

@media (max-width: 740px) {
    #iframe .grid {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    #iframe .box-wrapper .box {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    #iframe .box-wrapper .box .box-img {
        justify-content: start;
    }
    .box-wrapper {
        max-width: 320px;
    }
    #iframe .grid .grid-box {
        align-items: center;
    }
    .h2 {
        font-size: 1.75em;
    }
    .iframe-box {
        padding: 20px;
        max-width: 390px;
        margin: auto;
    }
}

@media only screen and (max-width: 702px) {
    .characters__content {
        grid-template-columns: 1fr !important;
    }
    .hero__tab.mobile-display-none {
        display: block !important;
        opacity: 1;
    }
    .banner-btns {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero__tab-button img {}
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: circular;
    src: url("chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2") format("woff2");
}

.button-green {
    background: linear-gradient(45deg, #ca3ce7, #42e8be) !important;
    border: none !important;
    border-radius: 30px;
    padding: 20px 40px;
    text-decoration: none;
    position: relative;
    color: #fff;
}

.text-button-green {
    z-index: 10;
    color: #000;
    font-size: 15px;
    line-height: 1;
    position: relative;
    color: #fff !important;
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: circular;
    src: url("chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2") format("woff2");
}

.section-dark.right-gradient {
    background-image: radial-gradient( circle farthest-side at 70% 28%, rgb(103 58 183 / 30%), #000 45%) !important;
}

.section-home {
    background-image: radial-gradient( circle farthest-side at 50% 63%, rgb(103 58 183 / 30%), #000 87%) !important;
}

h5 {
    color: #c53ce4;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
}

.background img:nth-child(even) {
    filter: hue-rotate(250deg) brightness(0.7);
}

.background img:nth-child(odd) {
    filter: hue-rotate(92deg);
}

.first-container {
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.w-container:before,
.w-container:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
    display: none !important;
}

section#iframe {
    background-image: radial-gradient( circle farthest-side at 91% 54%, rgb(60 109 182 / 34%), #0000 30%) !important;
}

#main {
    overflow: hidden;
}

section.calc {
    position: relative;
    padding: 140px 0 120px;
    background: black;
    z-index: 5;
}

#contact .shadow {
    height: 700px !important;
}

#iframe::before {
    /* content: ""; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.ctfassets.net/u73tyf0fa8v1/4uGgbi27Nbs2HE1dPLo25z/11f78ad9f08015fa6bd65d2388a14adb/Vampire-bloodlines-2-main-feat1.jpg?w=1920&q=75");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

section.calc::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg/download.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

section.calc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-size: 110%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: top center;
    background: linear-gradient(180deg, #050509, #05050900, #05050900);
}

@media screen and (max-width: 500px) {
    section.calc {}
}

@media screen and (max-width: 768px) {
    .first-container {
        grid-template-columns: 1fr !important;
        justify-content: center;
        text-align: center;
    }
    #iframe .grid {
        display: grid;
        grid-template-columns: 1fr !important;
    }
    section.calc .calc__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    .button-div-green {
        background: linear-gradient(45deg, #ca3ce7, #42e8be) !important;
        border: 0px solid #c9fa49 !important;
        border-radius: 30px;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
    .button-div {
        background: linear-gradient(45deg, #ca3ce7, #42e8be) !important;
        border-radius: 30px;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }
}

section.calc .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.calc .container::after {}

section.calc .calc__title {
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: flex-start;
    color: #d5e1eb;
    font-family: "Germania One";
    font-size: 72px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 26px;
}

section.calc .calc__title img {
    width: 160px;
}

@media screen and (max-width: 500px) {
    section.calc .calc__title {
        font-size: 46px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}

section.calc .calc__block {
    padding: 24px 30px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(255 255 255 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: rgb(38 73 127); */
    backdrop-filter: blur(14px);
}

@media screen and (max-width: 500px) {
    section.calc .calc__block {
        flex-wrap: wrap;
        grid-gap: 10px;
    }
}

section.calc .calc__block .block__title {
    color: #d5e1eb;
    font-family: "Germania One";
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}

@media screen and (max-width: 500px) {
    section.calc .calc__block .block__title {
        font-size: 24px;
    }
}

section.calc .calc__block .block__value {
    color: #d5e1eb;
    text-align: right;
    font-family: "Balthazar";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 16px;
}

@media screen and (max-width: 500px) {
    section.calc .calc__block .block__value {
        font-size: 20px;
        flex-direction: column;
        text-align: center;
    }
}

section.calc .calc__block .block__value svg {
    cursor: pointer;
    width: 32px;
}

section.calc .calc__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    section.calc .calc__list {
        grid-template-columns: repeat(1, 1fr);
    }
    section.calc .calc__block {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    section.calc .calc__list {
        grid-template-columns: repeat(1, 1fr);
    }
    section.calc .calc__block {
        flex-direction: column;
    }
}

section.calc .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.grid-button {
    margin-top: 10px !important;
}

.w-layout-grid.grid-button {
    display: flex !important;
    justify-content: center !important;
}

.w-row:after {
    display: none !important;
}

.w-row:before,
.w-row:after {
    display: none !important;
}

.token__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
}

.footer {
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 20px;
    position: relative;
}

.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    opacity: 0.7;
    z-index: -1;
    height: 108%;
    transform: rotateX(180deg);
}

.copyrates-block {
    max-width: 100%;
    border-top: 0px solid rgb(72 225 192) !important;
}

.footer-email-wrapper {
    max-width: 38%;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    flex: 1;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    margin-top: 0px !important;
    padding-left: 20px;
    display: grid;
}

.footer-wrapper-flex {
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center !important;
}

#tokenomics .container .address .link-box h3 {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
    flex-direction: column;
    color: #c53ce4;
}

#tokenomics .container .address .link-box .wrap {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
}

#tokenomics .container .address .link-box span {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
}

#tokenomics .container .address .link-box img {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    visibility: inherit;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    line-height: normal !important;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    max-width: 100%;
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: initial;
    filter: invert(1);
    cursor: pointer;
}

.w-webflow-badge {
    display: none !important;
}

/* ALL PAGES CSS */

* {
    padding: 0px;
    margin: 0px;
}

.burger__line {
    z-index: 2;
    width: 100%;
    height: 1px;
    filter: blur(0.25px);
    background-color: #e94d1d !important;
    position: absolute;
    box-shadow: 0 0 4px #e94d1d, inset 0 0 8px #e94d1d !important;
}

#iframe .container .heading____ {
    padding: 30px 0px;
    margin-bottom: 30px;
}

#iframe {
    position: relative;
}

.iframe-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 80%;
}

.iframe-box iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
}

#iframe::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-size: 110%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: top center;
    background: linear-gradient(180deg, #050509, #05050900, #05050900);
}

#iframe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 20px;
    margin: auto;
}

#iframe .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#iframe .grid .grid-box {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#iframe .grid .box-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 6px;
    /* border-left: 1px solid #ffffff1a; */
    padding-left: 16px;
}

#iframe .box-wrapper {
    position: relative;
}

#iframe .box-wrapper .box {
    background: linear-gradient(180deg, #ffffff0d, #fff0 73.86%);
    border-radius: 16px;
    /* box-shadow: -4px 4px 2px 0 #ff5100bf, 4px 4px 2px 0 #ff5100bf; */
    display: flex;
    margin-bottom: 19px;
    padding: 40px 23px;
    position: relative;
    /* gap: 30px; */
    display: grid;
    grid-template-columns: 1.7fr 3fr;
    border: 1px solid #ad35c8;
    /* border: 1px solid #ce481d; */
}

.footer-wrapper-flex {
    justify-content: space-between;
    display: flex;
    position: relative;
    align-items: center !important;
}

.container.w-container {
    max-width: 1200px;
    margin: auto;
}

.inline-block-first {
    color: rgb(255 255 255 / 60%);
    flex: 1;
    font-family: "Balthazar";
    font-size: 14px;
    line-height: 1.6em;
    display: inline-block;
}

.inliine-block {
    color: rgb(255 255 255 / 60%);
    font-family: "Balthazar";
    font-size: 14px;
    line-height: 1.6em;
    display: inline-block;
}

.copyrates {
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 20px;
    display: flex;
}

#iframe .container .heading____ {
    padding: 30px 0px;
    margin-bottom: 30px;
}

#iframe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 20px;
    margin: auto;
}

#iframe .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 7rem;
    width: 100%;
    max-height: 800px;
    max-width: 1100px;
}

.token_info {
    position: relative;
    z-index: 210;
}

.footer {
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 20px;
    position: relative;
    position: relative;
    z-index: 112;
}

.images_icons .img {
    width: 80px;
    cursor: pointer;
    position: relative;
    z-index: 112;
}

#iframe .grid .grid-box {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#iframe .grid .box-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 6px;
    /* border-left: 1px solid #ffffff1a; */
    padding-left: 16px;
}

#iframe .box-wrapper {
    position: relative;
}

#iframe .box-wrapper span {
    /* -webkit-text-fill-color: #0000; */
    /* background: linear-gradient(89.96deg, #ffffff0d .03%, hsla(0, 0%, 100%, .008) 49.67%, #ffffff0d 99.96%); */
    /* background: linear-gradient(45deg, #ca3ce7, #42e8be) !important; */
    /* -webkit-background-clip: text; */
    border: 1px solid #ffffff1a;
    border-radius: 0;
    font-family: Conthrax;
    font-size: 14px;
    /* font-weight: 600; */
    left: 22px;
    /* padding: 8px 33px; */
    position: absolute;
    top: -15px;
    /* backdrop-filter: blur(5px); */
    z-index: 1;
    border: 0;
    color: #fff;
    background: url(../images/btn.png);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    font-family: "Balthazar";
}

.heading____ h2 {
    font-size: 2.5rem;
}

#iframe .box-wrapper .box {
    background: linear-gradient(180deg, #ffffff0d, #fff0 73.86%);
    border-radius: 16px;
    /* box-shadow: -4px 4px 2px 0 #ff5100bf, 4px 4px 2px 0 #ff5100bf; */
    display: flex;
    margin-bottom: 19px;
    padding: 40px 23px;
    position: relative;
    /* gap: 30px; */
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid rgb(255 255 255 / 20%);
    /* border: 1px solid #ce481d; */
    max-width: 371px;
}

#iframe .box-wrapper .box .box-content h3 {
    font-size: 23px;
}

#iframe .box-wrapper .box .box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#iframe .box-wrapper .box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    position: initial;
    max-width: 120px;
}

.buy-crypto-form-submit {
    width: 100%;
    background: #c2ff26 !important;
    color: black !important;
    font-size: 1.3rem;
    font-weight: bold;
}

.iframe-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer {
    max-width: 1200px;
    margin: auto;
}

section#banner {
    margin-top: 75px;
}

@media (max-width: 786px) {
    #tokenomics .container {
        grid-template-columns: 1fr !important;
    }
    .container-nav a img {
        width: 100px !important;
    }
    .centered.image {
        padding: 20px 0px !important;
    }
    .grid-button {
        grid-column-gap: 0px;
        grid-row-gap: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 80px !important;
    }
    .token__grid {
        grid-template-columns: 1fr;
    }
    section.calc {
        padding: 140px 20px 120px;
    }
}